@charset "utf-8";

header {
  padding: 30px;
}

.logo {
  color:#2A2A2A;
  font-size: 24px;
  margin: 0;
}

.form-wrapper{
  display: block;
  width: 300px;
  margin: auto;
}

.title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  color:#2A2A2A;
}

.form-group {
  text-align: center;
  margin-bottom: 30px;
}

.label {
  display: block;
  text-align: left;
  color: #2A2A2A;
  font-size: 14px;
}

.input-form {
  width: 296px;
  height: 30px;
  margin: auto;
  padding: 0;
}

.input-form-wrapper{
  margin-bottom: 10px;
}

.note {
  font-size: 10px;
  color: #6F6F6F;
  text-align: left;
  margin: 0;
}

.input {
  text-align: center;
  font-size: 16px;
  width: 300px;
  padding: 6px;
  margin: 30px auto 20px;
  color: white;
  background: #59AFFF;
  border: 2px solid #59AFFF;
  border-radius: 2px;
}

.input:hover {
  background-color: #4072A0;
}

.transition {
  display: block;
  text-align: center;
  font-size: 14px;
  width: 200px;
  padding: 6px;
  margin: 20px auto;
  text-decoration: none;
  color: #2A2A2A;
  background-color: white;
  border: 2px solid #59AFFF;
  border-radius: 2px;
}

.transition:hover {
  background-color: #F2F4F6;
}

.error {
  font-size: 14px;
  color: #FF3333;
  text-align: left;
}
